$color-white: #fff;
$color-grey200: #eee;
$color-grey400: #bdbdbd;
$color-black: #000;

$color-fire-brick: #BE2623;
$color-jacksons-purple: #313A87;
$color-midnight-express: #1C213F;
$color-salem: #098952;

$color-success: $color-salem;
$color-error: $color-fire-brick;
