.ReactTable .rt-table .rt-thead.-header {
  background: #fff;
  box-shadow: none;
  border-bottom: 1px solid #bbb;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
}

.ReactTable .rt-table .rt-tr {
  text-align: left;
}

.ReactTable .rt-td {
  font-size: 14px;
  padding: 10px;
}
