@import 'app/styles/imports.scss';

.main {
  @extend %flex;

  background-color: $color-grey200;
  min-height: 100vh;
  overflow: hidden;

  @include bp-narrow {
    flex-flow: column;
  }
}

.container, .content {
  @extend %layout-column;

  flex: 1 1 auto;
  overflow: auto;
}
