@import 'app/styles/imports.scss';

$sidebar-width: 250px;

.sidebar {
  background: linear-gradient(to bottom, $color-jacksons-purple 0%, $color-midnight-express 100%);
  flex: 0 0 $sidebar-width;
  padding: 0 20px;

  @include bp-narrow {
    background: $color-jacksons-purple;
    flex: 0 0 auto;
    padding: 5px 20px;
  }
}

.container {
  @extend %layout-column;
}

.menu {
  margin-top: 10px;

  @include bp-narrow {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }
}

.link {
  @extend %flex;
  @extend %highlight;

  color: $color-white;
  font: 700 16px/1.5 $font-krub;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;

  i {
    font-size: 20px;
    padding: 2px 10px 0 0;
  }

  &-active {
    opacity: 1;
  }
}

.label {
  @extend %layout-column;

  flex: 1 0 auto;
  text-decoration: none;
}
